// --------------------------------------------------
// +++ SETTINGS COLORS +++
// --------------------------------------------------


// === BRAND COLORS ===
// --------------------------------------------------

//

// === DOCS ===
// --------------------------------------------------

/*
---
name: Colors
settings:
  - Colors
hideCode: true
---



*/
